<li class="list-group-item list-group-item-dark d-flex">
	<span class="align-self-center">{{burger_name}}</span>

	<button class="change-devoured btn btn-secondary ml-auto" data-id="{{id}}" data-devoured="{{sleep}}">
		{{#if devoured}}DEVOUR IT!{{/if}}
	</button>
</li>
